ul li{
  list-style-type:none;
 
}
*{
  padding: 0;
  margin: 0;
}

.images{
  display:flex;
  transition:all 0.5s
 
}
.window{
  width:920px;
  overflow:hidden;
}
.color{
  background:url(./bg.png)
}
li{
 width: 60px;
 height: 45px;
 

font-size: 1px;
 
}
.buts>ul{
  display: flex;
justify-content:center;
align-items: center;
background:url();
  
}

.buts>ul>li{
  display:flex;
    justify-content:center;
    align-items: center;
}
a{
  cursor: pointer;
}
.buts{
  background: url(./bg1.jpg);
}
.container{
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  
}

.window{
  margin: auto;
  }
  

  
